#slide {
        z-index: 1;
        width: 1020px;
        height: 220px;
    }
    #slide1,
    #slide2 {
        display: inline-block;
    }
    #slide1,
    #slide1 img,
    #slide1 ul,
    #slide1 li {
        position: absolute;
        width: 440px;
        height: 220px;
    }
    #slide1 .title {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 10px;
        width: 100%;
        height: 25px;
        text-decoration: none;
    }
    #slide1 .trig {
        position: absolute;
        z-index: 3;
        bottom: 6px;
        right: 15px;
        height: 25px;
        width: 150px;
    }
    #slide1 .trig span,
    #slide1 .trig span a {
        display: inline-block;
        width: 25px;
        height: 25px;
    }
    .hide {
        background: url('picture/trig0.png');
    }
    .hide:hover {
        background: url('picture/trig1.png');
    }
    .on {
        background: url('picture/trig2.png');
    }